	table{
		margin-left: auto;
		margin-right:auto;
	}
	body{
		/* Location of the image */
  		background-image: url(images/background.JPG);
  
  		/* Background image is anchored to topleft at all times */
  		background-position: top left;
  
  		/* Background image doesn't tile */
  		background-repeat: no-repeat;
  
  		/* Background image is fixed in the viewport so that it doesn't move when 
     		the content's height is greater than the image's height */
  		background-attachment: fixed;
  
  		/* This is what makes the background image rescale based
     		on the container's size */
  		background-size: cover;
  
  		/* Set a background color that will be displayed
     		while the background image is loading */
		background-color: #002D62;
	}
	a{
		/*color: #F4911E;*/
		color: #FFF;
		text-decoration: none;
	}
	td{
		font-size: 32px;
		text-shadow: 0 0 5px #000;
		/*color: #F4911E;*/
		color: #FFF;
		/*display: block;*/
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	td.right{
		text-align: right;
	}
	td.left{
		padding-left: .25em;
	}
	.fhead{
		margin-top:100pt;
		text-align:center;
		font-size: 120px;
		text-shadow: 0 0 10px #000;
		/*color: #F4911E;*/
		color: #FFF;
		display: block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	.fbody{
		text-align:center;
		font-size: 32px;
		text-shadow: 0 0 5px #000;
		/*color: #F4911E;*/
		color: #FFF;
		display: block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	h1 {
		display:none;font-size: 32px;
	}
